.page-color {
	background-color: #CFCFCF;
}

h1 {
    font-size: 2.6rem;
}

p {
    font-size: 1.6rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

button {
    padding: 0.7rem 1.4rem;    
    max-width: 25rem;
    border-radius: 0.5rem;
}

.primary-button {
   background-color: #083988; 
   color: #FFFFFF;
   font-weight: 600;
}

.secondary-button {
   background-color: #FFFFFF;
   color: #083988;
   font-weight: 600;
}
