.page-color {
	background-color: #CFCFCF;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.6rem;
}

p {
    font-size: 1.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    box-shadow: 5px 5px 15px 5px #888888;
}

nav .link-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #00000054;
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

button {
    padding: 0.7rem 1.4rem;    
    max-width: 25rem;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
}

.primary-button {
    background-color: #083988; 
    color: #FFFFFF;
    font-weight: 600;
}

.secondary-button {
    background-color: #FFFFFF;
    color: #083988;
    font-weight: 600;
}

.hidden {
    display: none;
}
